<?xml version="1.0"?>
<launch>
  <!-- game settings-->
  <!-- <arg name="param_file" default="$(find mdmifd_gazebo)/param/game_param.yaml"/>    -->
  <!-- <arg command="load" file="$(find mdmifd_gazebo)/param/game_param.yaml"/> -->
  <arg name="r" value="0.3"/>
  <arg name="ni" value="1"/>
  <arg name="nd" value="1"/>
  <arg name="vi" value=".2"/>
  <arg name="vd" value=".25"/>
  <arg name="Rt" value="2."/>
  <arg name="Ro" value="2.5"/>
  <arg name="iselect_mode" value="value"/>

  <!-- initial locations intruders -->
  <arg name="xi_0" value="1."/>
  <arg name="yi_0" value="0.5"/>
  <arg name="zi_0" value="1.5"/>
  <arg name="takeoff_offset_x_i0" value="0."/>
  <arg name="takeoff_offset_y_i0" value="0."/>

  <!-- initial locations defenders -->
  <arg name="xd_0" value="0."/>
  <arg name="yd_0" value="0."/>
  <arg name="zd_0" value="1."/>
  <arg name="takeoff_offset_x_d0" value="0.1"/>
  <arg name="takeoff_offset_y_d0" value="0.3"/>

  <!-- data saving-->
  <arg name="res_id" default="_02_02_$(arg iselect_mode)"/>
  <arg name="user_account" default="flora" />
  <arg name="csvFilesStoring" default="true" />
  <arg name="csvFilesStoringTime" default="0.1" />

  <!-- model files -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>

  <!-- gazebo world -->  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/basic_crazyflie.world" />
    <arg name="paused" value="false"/>
  </include>

  <!-- ############# launch individual players: intruder I0 ###########-->  
  <include file="$(find mdmifd_gazebo)/launch/individual_player.launch"> 
    <!-- player settings, change here-->
    <arg name="role" value="I"/>
    <arg name="id" value="0"/>
    <arg name="node_file" value="Intruder.py"/>
    <arg name="vmax" value="$(arg vi)" />
    <arg name="Rt" value="$(arg Rt)" />
    <arg name="Ro" value="$(arg Ro)" />
    <arg name="x" value="$(arg xi_0)"  />
    <arg name="y" value="$(arg yi_0)"  />
    <arg name="z" value="$(arg zi_0)"  />
    <arg name="takeoff_offset_x" value="$(arg takeoff_offset_x_i0)"/>
    <arg name="takeoff_offset_y" value="$(arg takeoff_offset_y_i0)"/>
    <!-- environment settings, same for all players-->
    <arg name="r" value="$(arg r)"/>
    <arg name="ni" value="$(arg ni)"  />
    <arg name="nd" value="$(arg nd)"  />  
    <!-- data saving settings, same for all players-->
    <arg name="res_id" value="$(arg res_id)"/>
    <arg name="user_account" value="$(arg user_account)" />
    <arg name="csvFilesStoring" value="$(arg csvFilesStoring)" />
    <arg name="csvFilesStoringTime" value="$(arg csvFilesStoringTime)" />
  </include>

  <!-- ############# launch individual players: D0 ###########-->  
  <include file="$(find mdmifd_gazebo)/launch/individual_player.launch"> 
    <!-- player settings, change here-->
    <arg name="role" value="D"/>
    <arg name="id" value="0"/>
    <arg name="node_file" value="Defender.py"/>
    <arg name="vmax" value="$(arg vd)" />
    <arg name="Rt" value="$(arg Rt)" />
    <arg name="Ro" value="$(arg Ro)" />
    <arg name="x" value="$(arg xd_0)"  />
    <arg name="y" value="$(arg yd_0)"  />
    <arg name="z" value="$(arg zd_0)"  />
    <arg name="takeoff_offset_x" value="$(arg takeoff_offset_x_d0)"/>
    <arg name="takeoff_offset_y" value="$(arg takeoff_offset_y_d0)"/>

    <arg name="iselect_mode" value="$(arg iselect_mode)"/>
    <arg name="enable_aideck_camera" value="true"/>
    <!-- environment settings, same for all players-->
    <arg name="r" value="$(arg r)"/>
    <arg name="ni" value="$(arg ni)"  />
    <arg name="nd" value="$(arg nd)"  />  
    <!-- data saving settings, same for all players-->
    <arg name="res_id" value="$(arg res_id)"/> 
    <arg name="user_account" value="$(arg user_account)" />
    <arg name="csvFilesStoring" value="$(arg csvFilesStoring)" />
    <arg name="csvFilesStoringTime" value="$(arg csvFilesStoringTime)" />
  </include>

  <!-- environment -->
  <node name="environment" pkg="mdmifd_gazebo" type="env.py" output="screen">
    <param name="ni" value="$(arg ni)"  />
    <param name="nd" value="$(arg nd)"  />  
  </node>   

</launch>
